<!DOCTYPE html><html lang="en">
    <head>
        <meta charset="utf-8">

        <title><%= title %> | Discord Bots</title>

        <link rel="icon" type="image/png" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/main.css">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Discord Bots">
        <meta property="og:title" content="Discord Bots">
        <meta property="og:description" content="Search the best Discord Bots you need on your Discord server with our bot list!">

        <meta name="apple-mobile-web-app" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Discord Bots">

        </head>
<body>
