<%- include('partials/header') %>

    <section class="header">
            <div class="container">
            <div class="title">
                <h1>Discord Bots</h1>
            </div>
            <div class="subtitle">
                <h2>Explore awesome bots in our bot list.</h2>
            </div>
            
            <form action="/search">
            <input class="searchbar" type="text" name="q" id="search" placeholder="Search for specific bots...">
            </form>
        </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#273036" fill-opacity="1" d="M0,64L48,74.7C96,85,192,107,288,117.3C384,128,480,128,576,106.7C672,85,768,43,864,42.7C960,43,1056,85,1152,96C1248,107,1344,85,1392,74.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
              </svg>
        </section>
<%- include('partials/footer') %>
