<%- include('partials/header') %>
    <body>
        <section class="header">
            <div class="title">
                <h1>Discord Bots</h1>
            </div>
            <div class="subtitle">
                <h2>Search the best Discord bots!</h2>
            </div>
        </section>
    </body>

<%- include('partials/footer') %>
